form{
    width: 600px;
    height: 450px;
    border: 5px solid rgb(30, 27, 177);
    background-color: brown;
    color: white;
    margin-left: 70px;
    border-radius: 10px;
}
h2,h5{
    text-align: center;
    color: white;
    background-color: brown;
    

}
.conteudo{
    float: left;

}
p{
    margin-left: 20px;
}